html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}


/*Globales*/

img {
    max-width: 100%;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 2.0rem;
}


/*Utilidades*/

.contenedor {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

.centrar-texto {
    text-align: center;
}

.texto-derecha {
    text-align: right;
}

.seccion {
    margin-top: 8rem;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.fw-900 {
    font-weight: 900;
}

.no-margin {
    margin: 0;
}

.fixed {
    position: fixed;
    width: 100%;
    z-index: 1;
}


/* Botones */

.btn {
    display: inline-block;
    width: 30rem;
    padding: 1.5rem 8rem;
    margin: 1rem 1rem;
    border-radius: .5rem;
    text-decoration: none;
    line-height: 1!important;
    font-weight: 700;
    outline: none;
    border: none;
}

.btn-primary {
    background-color: #fff5e9;
    color: #402e32;
}

.btn-primary:hover {
    background-color: #352c2ee8;
    color: #fff5e9;
    transition: 1s;
}

.btn-secundary {
    border: 3px solid #fff5e963;
    color: #fff5e9;
}

.btn-secundary:hover {
    background-color: #fff5e93d;
    color: #fff5e9;
    transition: 1s;
}


/* Site - Header */

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    color: #fff5e9;
}

.top-header span {
    font-family: 'Russo One', sans-serif;
    color: #ff8e3d;
}

.menu-hamb {
    background: unset;
    border: none;
    outline: none;
    color: #fff5e9e7;
    font-size: 1.8rem;
    cursor: pointer;
}

.navbar {
    background: #fff5e9e7;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
}

.navbar a {
    /*display: none;*/
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #402e32;
    padding: 1.2rem 0;
    font-size: 1.2rem;
    border: 1px solid #402e322f;
}

.desk-navbar {
    display: none;
}

@media (min-width: 768px) {
    .top-header i,
    .navbar {
        display: none;
    }
    .desk-navbar {
        display: initial;
    }
    .desk-navbar a {
        color: #fff5e9;
        text-decoration: none;
        margin-right: 2rem;
        font-weight: 300;
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    .desk-navbar a:last-of-type {
        margin-right: 0;
    }
    .desk-navbar a:hover {
        color: #ff8e3db6;
        transition: .5s;
    }
}

.bg-header {
    height: 100vh;
    background-image: url(../img/header-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido-header {
    color: white;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.contenido-header h3 {
    max-width: 40rem;
    margin: 5% auto;
}

.contenido-header p:last-of-type {
    text-transform: none;
}


/* CATEGORIAS */

.catalogo h2 {
    text-transform: uppercase;
}

.linea::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 20rem;
    height: .5rem;
    background: #ff8e3d;
    margin-top: 1rem;
}

.categorias {
    display: grid;
    gap: 2rem 2rem;
}

@media (min-width: 768px) {
    .categorias {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .categorias {
        grid-template-columns: repeat(3, 1fr);
    }
}

.categoria {
    height: 25rem;
    margin-top: 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.bg-imagen {
    background-image: url(../img/categoria.jpg);
}

.categoria:hover {
    filter: drop-shadow(-1px 5px 3px grey);
    margin-bottom: 1.5rem;
    margin-top: 0rem;
    transition: .5s;
}


/*TESTIMONIALES*/

.testimoniales {
    background-image: url(../img/header-mobile.jpg);
    background-position: center center;
    background-size: cover;
    color: white;
}

.fondo-oscuro {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5rem;
}

.contenedor-testimonios {
    max-width: 90rem;
    margin: 0 auto;
}

.testimoniales h2 {
    text-transform: uppercase;
}

.contenedor-testimonios blockquote {
    line-height: 2;
    margin: 0;
}


/* CUALIDADES */

.sobre-nosotros h2 {
    text-transform: uppercase;
}

.texto-nosotros {
    max-width: 70rem;
    margin: 4rem auto 6rem auto;
    text-align: center;
    line-height: 1.5;
}

.cualidades {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.cualidad {
    flex-basis: calc(33.3% - 4rem);
    text-align: center;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .cualidades {
        flex-direction: row;
    }
    .cualidad {
        flex-basis: calc(50%);
    }
    .cualidad:first-child {
        flex-basis: 100%;
    }
}

@media (min-width: 1200px) {
    .cualidad {
        flex-basis: calc(33.3% - 2rem);
    }
    .cualidad:first-child {
        flex-basis: 33.3%;
    }
}

.cualidad h3,
.cualidad i {
    font-size: 2rem;
    color: #ff8e3d;
    text-transform: uppercase;
    line-height: 0;
}

.cualidad i {
    font-size: 6rem;
}

.cualidad p {
    max-width: 30rem;
    margin: 3rem auto;
    line-height: 1.5;
}


/*PARALLAX*/

.parallax {
    position: relative;
    background: url("../img/header-mobile.jpg") no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;
}


/*FORMULARIO DE CONTACTO*/

.formulario {
    width: 90%;
    max-width: 80rem;
    margin: 8rem auto;
}

.formulario h2 {
    text-transform: uppercase;
}

.formulario fieldset {
    border-radius: 1rem;
}

.formulario fieldset:last-of-type {
    margin-top: 2rem;
}

legend {
    font-size: 2rem;
    color: #333333;
}

label {
    font-weight: 700;
    display: block;
    line-height: 1.5;
}

input:not([type="submit"]),

/*las comas , separan los selectores para que se apliquen a diferentes en este caso a input, a textarea y a select*/

textarea,
select {
    padding: 0.5rem;
    display: block;
    width: 100%;
    background-color: #fff5e9;
    margin-bottom: 1.2rem;
    border: 1px solid #BBBBBB;
    border-radius: 1rem;
}

input[type="radio"] {
    width: auto;
    margin: 0;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    color: #fff6eb;
    background-color: #352c2ee8;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    height: 10rem;
}